body {
    margin: 0px;
    background-color: black;
}

html {
    height: 400px;
    background-color: black;
}

/* Play menu styling */
#playMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 38px;
    font-family: monospace;
    flex-direction: column;
    z-index: 1000;
}

/* Play button styling */
#playButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

/* Play button styling wanneer het wordt aangeraakt*/
#playButton:hover {
    background-color: black
}

/* dit is voor tekst bij de tutorial*/
#controls {
    font-size: 25px;
}

/* dit is voor de canvas dat Project Eve gebruikt*/
#canvas {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Dit is de tekst op de eerste inlog pagina*/
#h1 {
    color: purple;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

/* dit is de div die wordt gebruikt de tekst en input field op de eerste inlog pagina*/
#inlog {
    margin-top: 350px;
}

/* dit is de div die wordt gebruikt  om de input field in het midden van de eerste inlog pagina te zetten*/
#inlog1 {
    display: flex;
    justify-content: center;

}

/* dit is de input field waar jij je naam invoert*/
#name {
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: black;
    border-width: 3px solid #00FFFF;
    border-color: #00FFFF;
    color: white;
    border-radius: 5px;
    font-family: monospace;
}

/* dit wordt gebruikt voor de tekst die je voor een tijd ziet als je ingelogd bent*/
#hello {
    color: purple;
    text-align: center;
    font-size: 80px;
    font-family: monospace;
    margin: 0px;
}

/* Deze tekst geeft aan of inloggen gelukt is wat eigenlijk altijd zo is */
.h2 {
    color: purple;
    text-align: center;
    font-family: monospace;
    font-size: 80px;
}

/* Dit zijn de start knoppen die gebruikt worden om de game te starten*/
#start {
    display: flex;
    justify-content: space-around;
    margin: 75px;
    margin-top: 150px;
}

/* hiermee maak je de site gebruikbaar op telefoon*/
@media (max-width: 600px) {
    /* Dit zijn de start knoppen die gebruikt worden om de game te starten*/
    #start {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    /* Dit is de bovenste deel van de pagina waar Project Eve staat op de home pagina*/
    #h4 {
        margin-bottom: 0px;
    }

    /* Deze tekst geeft aan of inloggen gelukt is wat eigenlijk altijd zo is */
    .h2 {
    color: purple;
    text-align: center;
    font-family: monospace;
    font-size: 80px;
    margin: 0px;
}
}

/* dit zijn de knoppen die je ziet op de home pagina waarneer je ingelogd bent*/
.knop1 {
    color: purple;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-color: white;
    border: 4px solid #00FFFF;
    border-radius: 20px;
    font-family: monospace;
    cursor: pointer;
    font-size: 60px;
    padding: 50px;
}

/* dit is voor alle link*/
a {
    text-decoration: none;
    color: purple;
}

/* Dit is de titel div voor de Project Eve bovenin*/
#title {
    display: fixed;
    justify-content: center;

}

/* Dit is de bovenste deel van de pagina waar Project Eve staat op de home pagina*/
#h4 {
    color: purple;
    text-align: center;
    font-family: monospace;
    border: 4px solid #00FFFF;
    border-radius: 5px;
    margin-top: -15px;
    font-size: 80px;

}

/* Dit is de bovenste deel van de pagina waar Project Eve staat op de game pagina*/
#h5 {
    color: purple;
    text-align: center;
    font-family: monospace;
    border: 4px solid #00FFFF;
    border-radius: 5px;
    font-size: 60px;
    margin-top: -15px;
    margin-bottom: 0px;
}

/* Dit is de slider voor hoe snel de enemies bewegen, schieten en opnieuw spawnen */
#speedSlider {
    color: purple;
}

/* Dit is voor de skip button die je ziet als je jezelf geen naam wilt geven */
#skipbutton{
    border-radius: 10px;
    padding: 10px;
    font-family: monospace;
    margin-left: 20px;

    background-color: black;
    border-style: none;
    color: purple
}

/* Dit is voor de skip button die je ziet als je jezelf geen naam wilt geven */
#skipbutton:hover{
    border-radius: 10px;
    padding: 10px;
    font-family: monospace;
    margin-left: 20px;
    background-color: black;
    border-style: none;
    color: white;
}

/* Dit is de backbutton die je ziet in de tutorial */
#backbutton{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

/* Dit is voor wanneer je over de backbutton heen gaat */
#backbutton:hover {
    background-color: black;
}
